/**************** Tag Selectors *************/
body{
  max-width: 500px;
  margin: auto;
  padding: 10px;
  text-align: center;
}
h1{
  color: red;
  font-size: 50px;
  width: 90%;
}
img:hover{
  background-color: red;
}
/* **************Class Selectors************* */


.bacon{
  background-color: green;
}
.broccoli{
  background-color: yellow;
}

.circular{
  border-radius: 100%;
}

/* ID Selectors */

#heading {
  color: blue;
}
